/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
/* line 27, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* line 31, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_reset.scss */
body {
  line-height: 1; }

/* line 34, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_reset.scss */
ol, ul {
  list-style: none; }

/* line 37, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_reset.scss */
blockquote, q {
  quotes: none; }

/* line 40, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* line 45, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 1, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_utils.scss */
.pos-abs {
  position: absolute; }

/* line 4, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_utils.scss */
.pos-top {
  top: 0; }

/* line 7, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_utils.scss */
.pos-right {
  right: 0; }

/* line 10, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_utils.scss */
.pos-bottom {
  bottom: 0; }

/* line 13, /Users/stephencronin/Sites/highafdotspace/src/style/utils/_utils.scss */
.pos-left {
  left: 0; }

@font-face {
  font-family: Tungsten;
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/TUNGSTEN_ROUNDED/TungstenRnd-Light.otf") format("opentype"); }

@font-face {
  font-family: Decima;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DecimaMono/DecimaMono.otf") format("opentype"); }

/* line 7, /Users/stephencronin/Sites/highafdotspace/src/style/style.scss */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* line 17, /Users/stephencronin/Sites/highafdotspace/src/style/style.scss */
body {
  font-size: 20px;
  line-height: 1.2;
  font-family: Decima, monospace;
  text-transform: uppercase;
  background-color: #000000;
  color: #FFFFFF; }

/* line 31, /Users/stephencronin/Sites/highafdotspace/src/style/style.scss */
button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  font: inherit;
  background: transparent;
  cursor: pointer; }
  /* line 35, /Users/stephencronin/Sites/highafdotspace/src/style/style.scss */
  button:active {
    outline: 0; }

/* line 1, /Users/stephencronin/Sites/highafdotspace/src/style/components/_screen.scss */
.scroller {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  overflow: auto; }

/* line 7, /Users/stephencronin/Sites/highafdotspace/src/style/components/_screen.scss */
.screen {
  display: block;
  height: 100vh;
  position: relative; }

/* line 1, /Users/stephencronin/Sites/highafdotspace/src/style/components/_intro.scss */
.intro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end; }

/* line 10, /Users/stephencronin/Sites/highafdotspace/src/style/components/_intro.scss */
.intro--cta {
  padding: 2em;
  margin-left: auto;
  margin-right: auto; }

/* line 1, /Users/stephencronin/Sites/highafdotspace/src/style/components/_stream.scss */
.stream {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0; }
  /* line 5, /Users/stephencronin/Sites/highafdotspace/src/style/components/_stream.scss */
  .stream iframe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

/* line 1, /Users/stephencronin/Sites/highafdotspace/src/style/components/_interface.scss */
.interface {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
  padding: 1em; }

/* line 11, /Users/stephencronin/Sites/highafdotspace/src/style/components/_interface.scss */
.interface--countdown .unit {
  display: block; }

/* line 1, /Users/stephencronin/Sites/highafdotspace/src/style/components/_scrubber.scss */
.scrubber {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: auto;
  padding: 2em 1em 1em 1em;
  overflow: auto;
  white-space: nowrap;
  color: #FC5C5C; }
  /* line 15, /Users/stephencronin/Sites/highafdotspace/src/style/components/_scrubber.scss */
  .scrubber:after {
    content: '';
    display: inline-block;
    margin-left: calc(50vw - 2.25em); }

/* line 22, /Users/stephencronin/Sites/highafdotspace/src/style/components/_scrubber.scss */
.scrubber--event {
  display: inline-block;
  vertical-align: middle;
  margin-left: calc(50vw - 2.25em);
  position: relative;
  padding: 1em; }

/* line 30, /Users/stephencronin/Sites/highafdotspace/src/style/components/_scrubber.scss */
.scrubber--event--time {
  position: absolute;
  left: 50%;
  top: -0.5em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

/* line 37, /Users/stephencronin/Sites/highafdotspace/src/style/components/_scrubber.scss */
.scrubber--event--dot {
  display: block;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background: #FC5C5C; }
