.interface {
	@include abs();
	z-index: 1;

	pointer-events: none;

	padding: 1em;
}

	.view-toggle {
		position: absolute;
		right: 1em;
		top: 1em;

		padding: 1em;
		margin: -1em;

		pointer-events: auto;

		.icon {
			background: url('../images/eye_open.png') no-repeat center center transparent;
			background-size: 100% 100%;

			display: block;
			width: 1.75em;
			height: 1.75em;
		}
		&.inactive .icon {
			background-image: url('../images/eye_close.png');
		}
	}

.event--description {
	position: absolute;
	width: calc(50vw + 2em);
	bottom: 33vh;
	border: 2px solid $red;
	background: rgba(0,0,0,0.2);
	color: $red;
	line-height: 1;
	padding: 0.75em;

	&.inactive {
		display: none;
	}
}