.intro {
	@include abs();
	z-index: 1;

	padding: 1em;

	display: flex;
	flex-direction: column;
}

	.intro--title {
		margin-bottom: 1em;

		p {
			border-bottom: 1px solid rgba($red, 0.35);
			margin-bottom: 0.25em;
			padding: 0.5em 0;
		}

		p:first-child {
			margin-top: -0.5em;
		}
	}

	.intro--countdown {
		font-family: Tungsten;
		font-weight: 200;
		font-size: 4.5em;
		line-height: 0.888888889;

		.number {
			color: $red;
		}

		.block {
			.hidden {
				visibility: hidden;
			}

			&.faded {
				opacity: 0.15;

				&,
				.number {
					color: #eeeeee;
				}
			}
		}
	}

	.intro--cta {
		color: $red;

		padding: 2em;
		margin-top: auto;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: -1em;

		text-align: center;

		img {
			width: 1.6em;
		}
	}