.interface {
	@include abs();
	z-index: 1;

	pointer-events: none;

	padding: 1em;
}

	.view-toggle {
		position: absolute;
		right: 1em;
		top: 1em;

		padding: 1em;
		margin: -1em;

		pointer-events: auto;

		.icon {
			background: url('../images/eye_open.png') no-repeat center center transparent;
			background-size: 100% 100%;

			display: block;
			width: 1.75em;
			height: 1.75em;
		}
		&.inactive .icon {
			background-image: url('../images/eye_close.png');
		}
	}