.scrubber {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 5em;

	pointer-events: auto;

	padding: 2em 1em 1em 1em;
	overflow: auto;
	white-space: nowrap;

	color: $red;

	&:after {
		content: '';
		display: inline-block;
		margin-left: calc(50vw - 2.25em);
	}
}

	.scrubber--event {
		display: inline-block;
		vertical-align: middle;
		margin-left: calc(50vw - 2.25em);
		position: relative;
		padding: 1em;
	}

		.scrubber--event--time {
			position: absolute;
			left: 50%;
			top: -0.5em;
			transform: translateX(-50%);
		}

		.scrubber--event--dot {
			display: block;
			height: 0.5em;
			width: 0.5em;
			border-radius: 50%;

			background: $red;
		}