.scrubber {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	pointer-events: auto;

	padding: 2em 0 1em 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	white-space: nowrap;

	color: $red;

	mask-image: linear-gradient(-90deg, rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,0));
    mask-mode: alpha;
}

	.scrubber--event {
		display: inline-block;
		vertical-align: middle;
		margin-left: calc(50vw - 2.5em - 1em);
		position: relative;
		padding: 1em;

		&:first-child {
			margin-left: calc(50vw - 1.25em);
		}

		&:last-child {
			margin-right: calc(50vw - 1.25em);
		}

		& + &:before {
			content: '';
			position: absolute;
			top: 50%;
			height: 1px;
			background-color: $red;
			right: 50%;
			left: calc(-50vw + 2.5em);
		}
	}

		.scrubber--event--time {
			position: absolute;
			left: 50%;
			top: -0.5em;
			transform: translateX(-50%);
		}

		.scrubber--event--dot {
			display: block;
			height: 0.5em;
			width: 0.5em;
			border-radius: 50%;

			background: $red;
		}