@font-face {
	font-family: Tungsten;
	font-weight: 200;
	font-style: normal;
	src: url("../fonts/TUNGSTEN_ROUNDED/TungstenRnd-Light.otf") format("opentype");
}

@font-face {
	font-family: Decima;
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/DecimaMono/DecimaMono.otf") format("opentype");
}