@mixin abs() {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

@mixin reset() {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	appearance: none;
	color: inherit;
	font: inherit;
	background: transparent;
}