@import 'utils/reset';
@import 'utils/colors';
@import 'utils/fonts';
@import 'utils/utils';
@import 'utils/mixins';

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {

}

body {
	font-size: 20px;
	line-height: 1.2;
	font-family: Decima, monospace;
	text-transform: uppercase;

	background-color: #000000;
	color: #FFFFFF;
}

.container {

}

a,
button {
	@include reset();
	cursor: pointer;

	&:active {
		outline: 0;
	}
}

@import 'components/screen';
@import 'components/intro';
@import 'components/stream';
@import 'components/interface';
@import 'components/scrubber';